body {
  font-family: HelveticaNeue;
  width: 100%;
}
nav.navbar.navbar-expand {
  padding-top: 10px;
  padding-bottom: 10px;
}
ul.navbar-nav {
  flex-direction: row;
}

section > h1,
h1 {
  font-size: 3.05rem;
  font-weight: bold;
}
#submitBtn {
  font-size: 24px;
  font-weight: bold;
  background-image: linear-gradient(225deg, #f2da56 0%, #f6bc25 100%);
  box-shadow: 0 3px 0 0 #a6953b, inset 0 1px 0 0 #ffffff;
  border-radius: 6px;
  padding: 15px;
  color: #004a80;
  text-transform: uppercase;
}
/*hover state */
#submitBtn:hover {
  background: #f2da56;
}

/*click state */
#submitBtn:active {
  background: #f6bc25;
}
section {
  background: #004a80;
  color: #ffff;
}
section > p {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.yellow {
  color: #f6bc25;
}
input {
  padding: 20px;
  border-radius: 3px;
  border-color: transparent;
}
nav a.navbar-brand > img {
  height: auto;
  width: 173px;
  max-width: 173px;
}
input::placeholder {
  text-transform: uppercase;
  color: #9b9b9b;
  letter-spacing: 2px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  color: #999999;
  text-align: center;
}
.footer ul li a {
  font-size: 14px;
  margin-left: 5px;
  font-weight: bold;
  color: #004a80;
}

.footer ul > li:last-child a {
  padding-left: 5px;
  border-left: 2px solid #004a80;
}
.circle {
  background-color: #004a80;
  color: #f6bc25;
  font-weight: bold;
  text-align: center;
  position: relative;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  min-width: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 52px;
}

.circle:after {
  content: '';
  padding-top: 100%;
  display: table;
}
.second-section {
  background-image: linear-gradient(0deg, #e6e6e6 0%, #ffffff 100%);
  padding-bottom: 10rem;
}
.second-section h1,
h5 {
  color: #004a80;
  font-weight: bold;
}

.second-section p:first-of-type {
  font-size: 16px;
}
.second-section.sub-heading > p:nth-child(2) {
  font-size: 1.35rem;
  color: #4a4a4a;
}

#errorText {
  background-color: #dc0015;
  padding: 5px;
  margin-top: -6px;
  border: 1px solid transparent;
  display: none;
  padding-top: 1px;
  border-radius: 0px 0px 5px 5px;
}
#pad {
  line-height: 1.5;
}

/*media queries*/
@media screen and (min-width: 768px) {
  .sub-heading h5 {
    margin-top: -10px;
  }
}
